.input__container {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {display: block;}

.switchLoginRegister{
    padding: 4px 15px;
    border-radius: 3px;
    margin: 12px auto;
    display: block;
}

.account__form {
    width: 400px;
    margin: 30px auto;
    display: block;
    padding: 40px 10px;
    background-color: #eeeeef;
    color: #000;
    border-radius: 2px;
    border: 1px solid #0000002b;
    box-shadow: 3px 3px 8px -1px rgba(0, 0, 0, 0.87);
    -webkit-box-shadow: 3px 3px 8px -1px rgba(0, 0, 0, 0.87);
    -moz-box-shadow: 3px 3px 8px -1px rgba(0, 0, 0, 0.87);
}

.account label {
    position: absolute;
    top: -15px;
    left: 3px;
    font-size: 12px;
    color: #00000085;
}

.account input {
    color: #595656;
    background-color: #ffffff;
    padding: 6px;
    border-radius: 2px;
    text-align: center;
    width: 100%;
}

.account .input__container:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
}

.account h4 {
    font-family: 'Merriweather', serif;
    font-size: 23px;
    margin-bottom: 25px;
    text-align: center;
}

.account p {
    color: black;
    text-align: center;
}

.account label {
    position: absolute;
    top: -15px;
    left: 3px;
    font-size: 12px;
    color: #00000085;
}

.profile {
    width: 800px;
    color: black;
    padding: 10px 20px;
    border: 1px solid #b5a8a875;
    background-color: #f2f2f2;
    border-radius: 3px;
    margin: 30px auto;
    text-align: left;
}

.profile__form {
    width: 300px;
    margin: 10px 5px;
    display: block;
    padding: 20px 10px;
    color: #000;
}

.profile input {
    color: #595656;
    padding: 6px;
    border-radius: 2px;
    text-align: center;
    width: 100%;
}

.profile .input__container:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
}


.profile h4 {
    font-family: 'Merriweather', serif;
    font-size: 23px;
    margin-bottom: 25px;
    text-align: center;
}

.profile label {
    position: absolute;
    top: -15px;
    left: 3px;
    font-size: 12px;
    color: #00000085;
}

.profile__select{
    border: none;
    margin: 0;
    padding: 0;
    font-size: 1.3em;
    cursor: pointer;
}

.profile p {
    margin: 5px 0 ;
}

.profile ul {
    margin: 5px 0 ;
}


