/*footer*/
footer {
    background-color: #3e4953;
}

.footer__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.footer__logo {
    width: auto;
}

.footer__contact {
    display: flex;
}

.footer__contact li {
    margin: 10px;
}