.stock__info {
    color: black;
    padding: 10px 20px;
    margin: 10px 10px 10px 20px;
    /*border: 1px solid #b5a8a875;*/
    /*background-color: #f2f2f2;*/
    border-radius: 3px;
    text-align: left;
    background-color: #f8f9fa;
}

.stock__info__analytic {
    color: black;
    padding: 10px 20px;
    margin: 10px 10px 10px 20px;
    /*border: 1px solid #b5a8a875;*/
    /*background-color: #f2f2f2;*/
    border-radius: 3px;
    text-align: left;
}

.stock__info__statistic {
    color: black;
    padding: 10px 20px;
    margin: 10px 10px 10px 20px;
    /*border: 1px solid #b5a8a875;*/
    /*background-color: #f2f2f2;*/
    border-radius: 3px;
    text-align: left;
}

.stock__info p {
    font-size: 1.1em;
}

.stock__info__statistic p {
    font-size: 1.3em;
}

.stock__info__analytic p {
    font-size: 1.3em;
}

.stock__name {
    font-weight: bold;
    font-size: 1.7em;
    letter-spacing: 1px;
}

.stock__symbol {
    font-weight: 600;
    font-size: 30px;
}

.price__now span {
    display: inline-block;
    margin-right: 8px;
}
.prise {
    font-size: 2.2em;
    font-weight: 600;
}

.prise__analytic {
    font-size: 1.5em;
    font-weight: 600;
}

.chgGreen {
    color: green;
    font-size: 20px;
}

.chgRed {
    color: #c50000;
    font-size: 20px;
}

.stock {
    font-weight: 200;
}

.red {
    color: #c50000;
}

.green {
    color: green;
}

.correlation {
    align-items: center;
    color: black;
    padding: 10px 10px;
    border: 1px solid #b5a8a875;
    background-color: #f2f2f2;
    border-radius: 3px;
    margin: 40px 0;
    text-align: left;
}

