.page-statistic{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.page-statistic__main{
    width: 900px;
    padding-right: 10px;
}

.page-statistic__sideBar{
    height: 700px;
    width: 400px;
    padding-left: 10px;
}

.form-select{
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    font-size: 35px;
    width: 250px;
    cursor: pointer;
}

.form-select:focus {
    outline: none;
}

.period{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    margin: 10px 0px;
    color: #000;
    border-radius: 2px;
    border: 1px solid #0000002b;
    box-shadow: 3px 3px 8px -1px rgba(0, 0, 0, 0.87);
}

.period label{
    position: absolute;
    top: -12px;
    left: 7px;
    font-size: 12px;
    color: #00000085
}

.period input[type="date"] {
    width: 150px;
    padding: 5px;
    margin-right: 10px;
}

.period .input__container{
    padding: 5px ;
}
.page-statistic__table h5{
    color: #000000;
    margin-bottom: 10px;
}

tr {
    cursor: pointer;
    font-weight: 200;
}

.thead {
    color: #3e4953;
}

.from span{
    margin-right: 15px;
}

p span{
    font-weight: 400;
}

.tooltipWrapper {
    background: #444444;
    border: none
}

.tooltip {
    color: #ebebeb
}

.btnPeriod {
    background-color: transparent;
    color: #444444;
    border-color: transparent;
    margin-bottom: 15px;
    padding: 5px 0;
    font-size: 18px;
}

.btnPeriod:focus {
    color: rgb(193, 14, 14);
    text-decoration: underline;
}

/*.activated {*/
/*    background: radial-gradient(farthest-side ellipse at top left, #eb7fff, #c56bd6);*/
/*    transform: rotate(360deg);*/
/*    box-shadow:*/
/*            0 0px 10px rgba(0,0,0,.5) inset,*/
/*            0 2px 50px rgba(0,0,0,.5) inset,*/
/*            0 2px 10px rgba(255,255,255,.1);*/
/*}*/

/*.btnPeriod:not(.activated):hover {*/
/*    background: radial-gradient(farthest-side ellipse at top left, white, #c4c2c2);*/
/*}*/







