.stock__info {
    color: black;
    padding: 20px 5px;
    border: 1px solid #b5a8a875;
    background-color: #f2f2f2;
    border-radius: 3px;
    margin-bottom: 30px;
    text-align: left;
}

.stock__info p {
    font-size: 16px;
}

.stock__name {
    font-weight: bold;
    font-size: 1.3em;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.stock__symbol {
    font-weight: 600;
    font-size: 30px;
}

.price__now span {
    display: inline-block;
    margin-right: 5px;
}
.prise {
    font-size: 40px;
    font-weight: 600;
}

.chgGreen {
    color: green;
    font-size: 20px;
}

.chgRed {
    color: #c50000;
    font-size: 20px;
}

.stock {
    font-weight: 200;
}

.red {
    color: #c50000;
}

.green {
    color: green;
}

.correlation {
    align-items: center;
    color: black;
    padding: 10px 10px;
    border: 1px solid #b5a8a875;
    background-color: #f2f2f2;
    border-radius: 3px;
    margin: 40px 0;
    text-align: left;
}

