.page-statistic{
    padding: 20px 0;
    max-width: 1200px;
}

.page-statistic__main{
    margin: 20px 0 30px 20px;
    padding-right: 10px;
}

.page-statistic__sideBar{
    width: 100%;
    padding: 10px;
    margin: 10px 20px 10px 0;
}
.page-statistic h2{
    color: black;
    font-size: 1.7em;
}
.form-select{
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    font-size: 1.3em;
    width: max-content;
    cursor: pointer;
}

.form-select:focus {
    outline: none;
}

.period{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    margin: 10px 0px;
    color: #000;
    border-radius: 2px;
    border: 1px solid #0000002b;
    box-shadow: 3px 3px 8px -1px rgba(0, 0, 0, 0.87);
}

.period label{
    position: absolute;
    top: -12px;
    left: 7px;
    font-size: 12px;
    color: #00000085
}

.period input[type="date"] {
    width: 150px;
    padding: 5px;
    margin-right: 10px;
}

.period .input__container{
    padding: 5px ;
}
.page-statistic__table h5{
    color: #000000;
    margin-bottom: 10px;
}

.page-statistic h4, p{
    color: #000000;
    margin-bottom: 10px;
}

tr {
    cursor: pointer;
    font-weight: 200;
}

.thead {
    color: #3e4953;
}

.from span{
    margin-right: 15px;
}

p span{
    font-weight: 400;
}

.tooltipWrapper {
    background: #444444;
    border: none
}

.tooltip {
    color: #ebebeb
}

.btnPeriod {
    background-color: transparent;
    color: #444444;
    border-color: transparent;
    margin: 5px;
    padding: 10px 35px;
    font-size: 18px;
}

.btnPeriod:focus {
    background-color: rgba(169, 169, 169, 0.26);
    border-radius: 10px;
    border: 1px solid #0000002b;
}

.btnPeriod:hover {
    background-color: rgba(169, 169, 169, 0.26);
    border-radius: 10px;
    border: 1px solid #0000002b;
}

.btnShow {
    background-color: transparent;
    color: #000000;
    border-radius: 5px;
    border-color: rgba(169, 169, 169, 0.3);
    box-shadow: -10px -2px 7px #ffffff;
}

/*.btnPeriod:focus {*/
/*    background-color: rgba(169, 169, 169, 0.26);*/
/*    !*border-radius: 10px;*!*/
/*    !*border: 3px solid #0000002b;*!*/
/*}*/







