.page-statistic{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}

.page-statistic__main{
    height: 700px;
    width: 800px;
    background-color: #3e4953;
    background-image: url("../Images/1-1129x800.png");
}

.page-statistic__sideBar{
    height: 700px;
    width: 358px;
}

.form-select{
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    font-size: 35px;
    width: 250px;
    cursor: pointer;
}

.form-select:focus {
    outline: none;
}

.period{
    display: flex;
}

.period p{
    font-weight: 600;
    cursor: pointer;
}

.page-statistic__table h5{
    color: #000000;
    margin-bottom: 10px;
}

tr {
    cursor: pointer;
    font-weight: 200;
}

.thead {
    color: #3e4953;
}

.from span{
    margin-right: 15px;
}

p span{
    font-weight: 400;
}











